html
{
    background-color: #222222;
    color: #f0ffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p
{
    font-size: 1.1rem;
}

h1
{
    font-size: 2rem;
}

h4
{
    font-size: 1.5rem;
}